<h1>Liste d'Utilisateurs</h1>

<ul>
  <li *ngFor="let user of liste">
    <!-- Au click sur l'email de l'utilisateur, on assigne l'utilisateur 
    actuel à la variable selectedUser du ListeUtilisateursComponent -->
    <button (click)="selectedUser = user">{{user.email}}</button>
  </li>
</ul>

<!-- Ici, on fait appel au DetailUtilisateurComponent et on fournit à celui
ci une valeur à sa variable user. En l'occurrence on lui assigne le selectedUser
Si on voit un [something]="" dans un component, on peut être quasi sûr que
côté component il y aura une variable @Input()something 
(ou @Input('something')nomVariable alternativement) -->
<app-detail-utilisateur *ngIf="selectedUser"
                        [user]="selectedUser"
                        (onDelete)="supprimerUser($event)"
                        (onModif)="modifierUser($event)">
</app-detail-utilisateur>